<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
<link rel="stylesheet" href="/travelRequest/SiteAssets/TR/css/fontello.css">

<div class="row">
    <div class="container">
        <div class="card" id="app">
            <div class="card-header">
                <h3 class="card-title">Fill Out Travel Form |
                    <a href="https://africanwildlife.sharepoint.com/travelRequest/Pages/approvals.aspx" v-if="approver">Approvals</a>
                </h3>
            </div>
            <div id="v-wrapper" class="card-body">
                <h5>Traveller Information</h5>
                <hr>
                <div class="row">
                    <div class="form-group col-sm-6 col-md-4">
                        <label>Username</label>
                        <input v-model="_spPageContextInfo.userDisplayName" type="text" class="form-control" readonly>
                    </div>
                    <div class="form-group col-sm-6 col-md-4">
                        <label>Job Title</label>
                        <input v-model="position" type="text" class="form-control" readonly>
                    </div>
                    <div class="col-md-4"></div>
                    <template v-if="assistant">
                        <div class="form-group col-sm-6 col-md-4">
                            <label>Person Travelling</label>
                            <select name="user" class="form-control" data-placeholder="Select user" v-validate="'required'" v-model="user">
                                <option v-for="item in bosses" :value="item.value">{{item.label}}</option>
                            </select>
                            <span class="invalid-feedback"> {{ errors.first('user') }}</span>
                        </div>
                        <div class="col-sm-6 col-md-8"></div>
                    </template>
                    <div class="form-group col-md-8">
                        <label>Add Purpose/Reason For Travel</label>
                        <textarea name="travel_purpose" v-model="travel_purpose" v-validate="'required'" rows="3"
                                  :class="{ 'is-invalid': errors.has('travel_purpose')}"
                                  class="form-control"></textarea>
                        <span v-if="errors.has('travel_purpose')" class="invalid-feedback">
                            {{ errors.first('travel_purpose') }}
                        </span>
                    </div>
                </div>
                <h5>Trip Details</h5>
                <hr>
                <div class="row" v-for="(item, index) in itinerary">
                    <div class="form-group col-sm-6 col-lg">
                        <label>From</label>
                        <select :name="'from_' + index" data-placeholder="Enter location" v-validate="'required'"
                                v-model="item.from" label="Title" data-vv-as="From" class="sel form-control"
                                :class="[{ 'is-invalid': errors.has('from_' + index)}]">
                            <option v-for="p in per_diems">{{p.Title}}</option>
                        </select>
                        <span class="invalid-feedback"> {{ errors.first('from_' + index) }}</span>
                    </div>
                    <div class="form-group col-sm-6 col-lg">
                        <label>To</label>
                        <select :name="'to_' + index" data-placeholder="Enter Destination" v-validate="'required'"
                                v-model="item.to" label="Title"  data-vv-as="To" class="form-control"
                                :class="[{ 'is-invalid': errors.has('to_' + index) }]">
                            <option v-for="p in per_diems">{{p.Title}}</option>
                        </select>
                        <span class="invalid-feedback"> {{ errors.first('to_' + index) }}</span>
                    </div>
                    <div class="form-group col-sm-6 col-lg">
                        <label>Budget Code</label>
                        <select :name="'budget_code_' + index" data-placeholder="Budget Code" v-validate="'required'"
                                v-model="item.budget_code" data-vv-as="Budget Code" class="form-control"
                                :class="[{ 'is-invalid': errors.has('budget_code_' + index)}]">
                            <option v-for="p in budget_codes">{{p.Title}}</option>
                        </select>
                        <span class="invalid-feedback">{{ errors.first('budget_code_' + index) }}</span>
                    </div>
                    <div class="form-group col-sm-6 col-lg">
                        <label>Start Date &amp; Time</label>
                        <div class="input-group date" :id="'start_' + index" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input"
                                   :data-target="'#start_' + index"
                                   v-validate="'required'"
                                   :class="[{ 'is-invalid': errors.has('start_' + index) }]"
                                   :name="'start_' + index" data-vv-as="Start Date"
                                   placeholder="DD/MM/YYYY h:i A"
                                   v-model="item.start">
                            <div class="input-group-append" :data-target="'#start_' + index" data-toggle="datetimepicker">
                                <span class="input-group-text"><i class="icon-calendar"></i></span>
                            </div>
                        </div>
                        <span class="invalid-feedback">{{ errors.first('start_' + index) }}</span>
                    </div>
                    <div class="form-group col-sm-6 col-lg">
                        <label>End Date &amp; Time</label>
                        <div class="input-group date" :id="'end_' + index" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input"
                                   :data-target="'#end_' + index"
                                   v-validate="'required'"
                                   :class="[{ 'is-invalid': errors.has('end_' + index) }]"
                                   :name="'end_' + index" data-vv-as="End Date"
                                   placeholder="DD/MM/YYYY h:i:A"
                                   v-model="item.end">
                            <div class="input-group-append" :data-target="'#end_' + index" data-toggle="datetimepicker">
                                <span class="input-group-text"><i class="icon-calendar"></i></span>
                            </div>
                        </div>
                        <span class="invalid-feedback">{{ errors.first('end_' + index) }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-12">
                        <span @click="addDestination"><i class="icon-plus-circled"></i> Add</span>
                        <span v-if="itinerary.length >1" @click="removeDestination"><i
                                class="icon-minus-circled"></i> Remove</span>
                    </div>
                </div>
                <h5>Per Diem Details</h5>
                <hr>
                <small class="text-danger"><em>All rates based on the USAID Per Diem standard rates for travel</em>
                </small>
                <div class="col-lg-4 py-2 bg-grey"><h5>Amount : $ <span v-text="total_amount"></span></h5></div>
                <div class="col-sm-12 mt-3">
                    <label>Do you require a travel advance?</label>
                </div>
                <div class="form-check-inline ml-3">
                    <label class="form-check-label">
                        <input type="radio" v-model="travel_advance" class="form-check-input" value="Yes">Yes
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" v-model="travel_advance" class="form-check-input" value="No">No
                    </label>
                </div>
                <div class="row" v-if="travel_advance == 'Yes'">
                    <div class="form-group mt-1 ml-2 col-sm-4">
                        <label>Amount</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input type="text" v-model="advance_amount" name="advance_amount" v-validate="'required'" placeholder="Advance Amount"
                                   class="form-control" :class="{ 'is-invalid': errors.has('advance_amount')}">
                        </div>
                        <span v-if="errors.has('advance_amount')" class="invalid-feedback">
                            {{ errors.first('advance_amount') }}
                        </span>
                    </div>
                    <div class="form-group col-sm-8 col-md-6">
                        <label>Add Comment/Note for Accounts</label>
                        <textarea v-model="advance_comment" class="form-control"></textarea>
                    </div>
                </div>
                <h5 class="mt-4">Logistic Details</h5>
                <hr>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="col-sm-12">
                            <label>Air travel booking?</label>
                        </div>
                        <div class="form-check-inline ml-3">
                            <label class="form-check-label">
                                <input type="radio" name="ticket_booking" v-validate="'required|included:Yes,No'"
                                       class="form-check-input" v-model="ticket_booking" value="Yes">Yes
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="radio" name="ticket_booking" class="form-check-input"
                                       v-model="ticket_booking" value="No">No
                            </label>
                        </div>
                        <span class="text-danger" v-if="errors.has('ticket_booking')">{{ errors.first('ticket_booking')}}</span>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group col-md-8" v-if="ticket_booking=='Yes'">
                            <label>Any other comments?</label>
                            <textarea name="ticket_booking_comment" v-model="ticket_booking_comment"
                                      class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="col-sm-12 mt-3">
                            <label>Accommodation booking?</label>
                        </div>
                        <div class="form-check-inline ml-3">
                            <label class="form-check-label">
                                <input type="radio" name="accommodation_booking" class="form-check-input"
                                       v-model="accommodation_booking"
                                       value="Yes" v-validate="'required|included:Yes,No'">Yes
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="radio" name="accommodation_booking" class="form-check-input"
                                       v-model="accommodation_booking"
                                       value="No">No
                            </label>
                        </div>
                        <span class="text-danger" v-if="errors.has('accommodation_booking')">{{ errors.first('accommodation_booking')}}</span>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group col-md-8" v-if="accommodation_booking=='Yes'">
                            <label>Any other comments?</label>
                            <textarea name="accommodation_booking_comment" v-model="accommodation_booking_comment"
                                      class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="col-sm-12 mt-3">
                            <label>Company vehicle with this trip?</label>
                        </div>
                        <div class="form-check-inline ml-3">
                            <label class="form-check-label">
                                <input type="radio" name="company_vehicle" class="form-check-input"
                                       v-validate="'required|included:No,Yes'"
                                       v-model="company_vehicle" value="Yes">Yes
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="radio" name="company_vehicle" class="form-check-input"
                                       v-model="company_vehicle" value="No">No
                            </label>
                        </div>
                        <span class="text-danger" v-if="errors.has('company_vehicle')">{{ errors.first('company_vehicle')}}</span>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group col-md-8" v-if="company_vehicle=='Yes'">
                            <label>Any other comments?</label>
                            <textarea name="company_vehicle_comment" v-model="company_vehicle_comment"
                                      class="form-control"></textarea>
                        </div>
                    </div>
                    <button class="col-lg-6 mt-4 btn btn-warning" type="button" v-if="loading">Sending ...</button>
                    <button class="col-lg-6 mt-4 btn btn-info" @click="validateForm" type="button" v-else>Submit</button>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="https://unpkg.com/vue@latest"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js" integrity="sha256-AdQN98MVZs44Eq2yTwtoKufhnU+uZ7v2kXnD5vqzZVo=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="/travelRequest/SiteAssets/TR/js/vee-validate.js"></script>
<script src="/travelRequest/SiteAssets/TR/js/batchexecutor.js"></script>
<script src="/travelRequest/SiteAssets/TR/js/app.js"></script>